@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', Helvetica, sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Draggable elements z-index fix */
.react-draggable-dragging {
  z-index: 9999 !important;
}

.react-draggable {
  z-index: 1;
}

[contenteditable] {
  user-select: text !important;
  pointer-events: auto !important;
}
.react-draggable [contenteditable] {
  user-select: text !important;
  -webkit-user-select: text !important;
  pointer-events: auto !important;
}
